@model Hl7.Fhir.Model.Patient

@{
    ViewData["Title"] = "Edit";
}



<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="hidden">
                @Html.LabelFor(p => p.Id, new { @class = "control-label" })
                @Html.TextBoxFor(p => p.Id, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">

                    @Html.LabelFor(p => p.Name[0].Prefix, new { @class = "control-label" })
                    @Html.TextBoxFor(p => p.Name[0].PrefixElement[0].Value, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.Name[0].PrefixElement[0].Value, "", new { @class = "text-danger" })
                
            </div>
            <div class="form-group">          
                    @Html.LabelFor(p => p.Name[0].Family, new { @class = "control-label" })
                    @Html.TextBoxFor(p => p.Name[0].Family, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.Name[0].Family, "", new { @class = "text-danger" }) 
            </div>
            <div class="form-group">
             
                    @Html.LabelFor(p => p.Name[0].Given, new { @class = "control-label" })
                    @Html.TextBoxFor(p => p.Name[0].GivenElement[0].Value, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.Name[0].GivenElement[0].Value, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">

                @Html.LabelFor(p => p.Gender, new { @class = "control-label" })
                @Html.TextBoxFor(p => p.Gender, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Gender, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">

                @Html.LabelFor(p => p.BirthDate, new { @class = "control-label" })
                @Html.TextBoxFor(p => p.BirthDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.BirthDate, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                <input type="submit" value="Editer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

